-# edit.html.haml using partial

%h1 Edit Existing Scene

= form_for @scene, :class => 'form-horizontal' do |f|

  .control-group
    = f.label :title
    .controls
      = f.text_field :title
      = @scene.errors[:title].join(', ')

  .control-group
    = f.label :description
    .controls
      = f.text_area :description, :class => 'input-xxlarge'
      = @scene.errors[:description].join(', ')

  .form-actions
    = f.submit 'Update scene Info', :class => 'btn btn-primary'
