-# edit.html.haml using partial

%h1 Edit Existing Scene

= form_for @scene do |f|

  = f.label :title
  = f.text_field :title
  = @scene.errors[:title].join(', ')

  = f.label :description
  = f.text_area :description
  = @scene.errors[:description].join(', ')

  = f.submit 'Update scene Info'
