%h1 All Scenes

%p= link_to "Add new scene", new_scene_path, :class => 'btn btn-primary'

- @scenes.each do |scene|
  .well
    %h5= h scene.title
    %div= post_format(scene.description)
    %p= link_to "View scene", scene_path(scene)

%p= link_to "Add new scene", new_scene_path, :class => 'btn btn-primary'
