%p#scenes-new-head
  You can
  = link_to "Create new scene", new_scene_path, :class => 'btn-custom btn-custom-plus'
  or take part in existing scenes listed below:

- @scenes.each do |scene|
  .scene
    .border-top
    %h5= link_to h(scene.title), scene
    #description= post_format(scene.description)
    .additional-info.row-fluid
      .span4
        .scene-created-at= datetime_format(scene.created_at)
        .scene-user-name= scene.user_name
      .span4
        .scenario-sequel-wrap.span4
          = link_to content_tag(:span, 'View scene'), scene, :class => 'response-alternative-switch'
      .span4
        - if scene.last_response_at.present?
          .scene-created-at
            Last response:
            = datetime_format(scene.last_response_at)
    .border-bottom

%p= link_to "Add new scene", new_scene_path, :class => 'btn-custom btn-custom-plus'
