%h1 Create New Scene

= form_tag scenes_path, {:class => 'form-horizontal'} do

  .control-group  
    = label :scene, :title, 'Title', :class => 'control-label'
    .controls
      = text_field :scene, 'title'

  .control-group
    = label :scene, :description, 'Description', :class => 'control-label'
    .controls
      = text_area_tag 'scene[description]', '', :class => 'input-xxlarge'
  .form-actions
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
