%h1 Create New Scene

= form_tag scenes_path, :class => 'form-horizontal' do

  .control-group  
    = label :scene, :title, 'Title', :class => 'control-label'
    .controls
      = text_field :scene, 'title'
      = @scene.errors[:title].join(", ")

  .control-group
    = label :scene, :description, 'Description', :class => 'control-label'
    .controls
      = text_area_tag 'scene[description]', '', :class => 'input-xxlarge'
      = @scene.errors[:description].join(", ")

  .form-actions
    = submit_tag 'Create scene', :class => 'btn btn-primary'
