%h1 Create New Scene

= form_for @scene, :class => 'form-horizontal' do |f|

  .control-group  
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title
      = @scene.errors[:title].join(", ")

  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'input-xxlarge', :placeholder => "What you need to imagine?"
      = @scene.errors[:description].join(", ")

  .form-actions
    = submit_tag 'Create scene', :class => 'btn btn-primary'