- title "Create new scene"
%h1 Create New Scene

= form_for @scene, :class => 'form-horizontal' do |f|

  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title
      = @scene.errors[:title].join(", ")

  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'input-xxlarge', :placeholder => "What is to be imagined? Input initial conditions and goal which you want to achieve. It is not recommended to ask questions. What should characters in this scene do?"
      = @scene.errors[:description].join(", ")

  -if current_user.try(:admin?)
    .control-group
      .controls
        .checkbox
          = f.check_box :hidden
          = f.label :hidden

  .form-actions
    = submit_tag 'Create scene', :class => 'btn-custom btn-custom-plus'

.back-to-scene-list-wrap= link_to 'Back to scenes list', scenes_path
