-# in app/views/scenes/show.html.haml
- title h @scene.title

.scene.scene-show
  .border-top
  %h1= h @scene.title

  #description= post_format(@scene.description)
  
  .additional-info.row-fluid
    .span4
      .scene-user-name= content_tag(:span, @scene.user_name)
      .scene-created-at= datetime_format(@scene.created_at)

  .border-bottom
- if current_user.try(:id) && (current_user.try(:admin?) || current_user.try(:id) == @scene.user_id)
  .scene-user-menu
    = link_to 'Edit', edit_scene_path(@scene), :class => 'btn'
    = button_to 'Delete', scene_path(@scene), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger', :form_class => 'button_to scene-delete'


.back-to-scene-list-wrap= link_to 'Back to scenes list', scenes_path
/.add-new-scene-wrap= link_to "Add new scene", new_scene_path, :class => 'btn-custom btn-custom-plus'
.vertical-separator