-# in app/views/scenes/show.html.haml
%h1
  Scenamix

%p= link_to "Add new scene", new_scene_path, :class => 'btn btn-primary'

%h2
  = h @scene.title

.row-fluid
  .span6#scenario-current
    .well.alert-success
      #description= post_format(@scene.description)
      .response-user-name= @scene.user_name
      .response-created-at= datetime_format(@scene.created_at)
    - if current_user.try(:admin?)
      = link_to 'Edit', edit_scene_path(@scene), :class => 'btn'
      = button_to 'Delete', scene_path(@scene), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'

    #scenario-responses-wrap
      - if @scenario.present?
        #scenario-current-responses
          %hr
          - @scenario.each do |response|
            .well.response.alert-info
              = post_format(response.response)
              .response-user-name= response.user_name
              .response-created-at= datetime_format(response.created_at)
              - if response.alternative.present?
                = link_to 'Alternative responses', scene_alternative_response_path(@scene, response), :class => 'btn btn-mini response-alternative'
                (#{response.alternative.size})
              - if current_user.try(:admin?)
                = link_to 'Edit', edit_scene_response_path(@scene, response), :class => 'btn btn-mini'
                = button_to 'Delete', scene_response_path(@scene, response), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-mini btn-danger', :form_class => 'button_to response-delete'
              = link_to "", upvote_scene_response_path(@scene, response), :class => 'icon-plus-sign response-weight'
              = link_to "", downvote_scene_response_path(@scene, response), :class => 'icon-minus-sign response-weight'
              (<span class="response-weight-value">+#{response.upvotes} -#{response.downvotes}</span>)

      %hr

      = form_tag scene_responses_path(@scene), :id => 'response-post-form' do
        - if @scenario.present?
          = hidden_field :response, :parent_id, value: @scenario.last.id
        - else
          = hidden_field :response, :parent_id, value: 0
        .control-group
          = label :response, :response, :class => 'control-label'
          .controls
            = text_area :response, :response, :class => 'input-xxlarge', :placeholder => "What do you imagine?", :rows => 5
        .form-actions
          = submit_tag 'Post response to scene', :class => 'btn btn-primary'

  .span6#scenario-branches
    Alternative branches of scenario

= link_to 'Back to scene list', scenes_path


