-# in app/views/scenes/show.html.haml
.row-fluid
  #scenario-current.span6

    .scene.scene-show
      .border-top
      %h1= h @scene.title

      #description= post_format(@scene.description)
      .response-new-container
      .additional-info.row-fluid
        .span4
          .scene-created-at= datetime_format(@scene.created_at)
          .scene-user-name= @scene.user_name
        .scenario-sequel-wrap.span4
          = link_to content_tag(:span, 'Write sequel to scenario'), new_scene_response_path(@scene), :class => 'response-new-button', 'data-parent_id' => 0, 'data-scene_id' => @scene.id
      .border-bottom
    - if current_user.try(:id) && (current_user.try(:admin?) || current_user.try(:id) == @scene.user_id)
      .scene-user-menu
        = link_to 'Edit', edit_scene_path(@scene), :class => 'btn'
        = button_to 'Delete', scene_path(@scene), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger', :form_class => 'button_to scene-delete'

    #scenario-responses-wrap
      - if @scenario.present?
        .scenario-nav-wrap
          %a{ :class => 'scenario-prev', :href => prev_scene_response_path(@scene) }
            %i
            Previous scenario
          %a{ :class => 'scenario-next', :href => next_scene_response_path(@scene) }
            Next scenario
            %i

        #scenario-current-responses

          - @scenario.each do |response|

            .response.response-scenario{'data-alt-url' => alternative_scene_response_path(@scene, response)}
              .border-top
              - if current_user.try(:id) && (current_user.try(:admin?) || current_user.try(:id) == response.user_id)
                .response-user-menu
                  = link_to 'Edit', edit_scene_response_path(@scene, response), :class => 'btn btn-mini response-edit'
                  = button_to 'Delete', scene_response_path(@scene, response), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', :form_class => 'button_to response-delete'
              = post_format(response.response)
              
              .additional-info.row-fluid
                .span4
                  .response-created-at= datetime_format(response.created_at)
                  .response-user-name= response.user_name

                .scenario-sequel-wrap.span4
                  = link_to content_tag(:span, 'Write sequel to scenario'), new_scene_response_path(@scene) + '?parent_id=' + response.id.to_s, :class => 'response-new-button', 'data-parent_id' => response.id, 'data-scene_id' => response.scene_id
                .response-votes-wrap.span4
                  = link_to '', upvote_scene_response_path(@scene, response), :class => 'response-weight response-weight-upvote'
                  %span.response-weight-value= response.votes
                  = link_to '', downvote_scene_response_path(@scene, response), :class => 'response-weight response-weight-downvote'
                  - if response.alternative.present?
                    .response-alternative-link-wrap= link_to response.alternative_size.to_s + ' alternative scenario(s)' , alternative_scene_response_path(@scene, response), :class => 'response-alternative-link'

              .response-new-container
              .border-bottom
            

        .scenario-nav-wrap
          %a{ :class => 'scenario-prev', :href => prev_scene_response_path(@scene) }
            %i
            Previous scenario
          %a{ :class => 'scenario-next', :href => next_scene_response_path(@scene) }
            Next scenario
            %i



  #scenario-branches-wrap
    .container
      #scenario-branches.span6.offset6

.back-to-scene-list-wrap= link_to 'Back to scene list', scenes_path
.add-new-scene-wrap= link_to "Add new scene", new_scene_path, :class => 'btn btn-primary'
.vertical-separator