%script#response-alternative-item-template{:type => 'text/html'}
  .response.response-alternative
    .border-top
    {{= response }}

    .row-fluid.additional-info
      .span6.clearfix
        .response-user-name <span>{{= user_name }}</span>
        .response-created-at {{= created_at }}
        %a{ :class => 'response-alternative-switch', :href => '/scenes/{{= scene_id }}/responses/{{= id }}' }
          %span Open scenario
        
      .span6.response-votes-wrap
        %a{ :class => 'response-weight response-weight-upvote', :href => '/scenes/{{= scene_id }}/responses/{{= id }}/upvote' }
        %span{ :class => 'response-weight-value' } {{= votes }}
        %a{ :class => 'response-weight response-weight-downvote', :href => '/scenes/{{= scene_id }}/responses/{{= id }}/downvote' }
        {{ if (!!responses_size) { }}
        %div {{= responses_size }} sequel(s)
        {{ } }}

    .border-bottom


%script#response-item-template{:type => 'text/html'}
  .response.response-scenario{'data-alt-url' => '/scenes/{{= response.scene_id }}/responses/{{= response.id }}/alternative'}
    .border-top
    
    {{ if (current_user.id && (current_user.admin || current_user.id == response.user_id)) { }}
    .response-user-menu
      = link_to 'Edit', '/scenes/{{= response.scene_id }}/responses/{{= response.id }}/edit', :class => 'btn btn-mini response-edit'
      = button_to 'Delete', '/scenes/{{= response.scene_id }}/responses/{{= response.id }}', :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', :form_class => 'button_to response-delete'
    
    {{ } }}
    
    {{= response.response }}
    
    .row-fluid.additional-info
      .span4
        .response-created-at {{= response.created_at }}
        .response-user-name <span>{{= response.user_name }}</span>


      .span4.scenario-sequel-wrap
        = link_to content_tag(:span, 'Write sequel to scenario'), '/scenes/{{= response.scene_id }}/responses/new?parent_id={{= response.id }}', :class => 'response-new-button', 'data-parent_id' => '{{= response.id }}', 'data-scene_id' => '{{= response.scene_id }}'

      .span4.response-votes-wrap
        = link_to '', '/scenes/{{= response.scene_id }}/responses/{{= response.id }}/upvote', :class => 'response-weight response-weight-upvote'
        %span.response-weight-value {{= response.votes }}
        = link_to '', '/scenes/{{= response.scene_id }}/responses/{{= response.id }}/downvote', :class => 'response-weight response-weight-downvote'
        {{ if (!!response.alternative_size) { }}
        .response-alternative-link-wrap= link_to '{{= response.alternative_size }} alternative scenario(s)' , '/scenes/{{= response.scene_id }}/responses/{{= response.id }}/alternative', :class => 'response-alternative-link'
        {{ } }}

    .response-new-container
    .border-bottom


%script#responses-create-form-template{:type => 'text/html'}
  %form{ :method => "post", :action => "/scenes/{{= scene_id }}/responses", "accept-charset" => "UTF-8", :class => "response-post-form" }
    %input{ :type => "hidden", :value => "{{= parent_id }}", :name => "parent_id" }
    %img{ :class => "shadow-img", :alt => "", :src => "/assets/shadow-bottom.png" }
    .control-group
      %label{ :for => "response-textarea-{{= scene_id }}-{{= parent_id }}", :class => "control-label"} Sequel of scenario
      .controls
        %textarea{ :placeholder => "Read the scenario above and write an action, additional context, event or outcome that appears in your imagination. It is not recommended to create discussions or try to answer direct questions. What do you imagine?", :name => "response", :class => "input-xxlarge", :id => "response-textarea-{{= scene_id }}-{{= parent_id }}", :rows => 3}
    %div
      %input{ :type => "submit", :value => "Post", :name => "commit", :class => "btn-custom" }


%script#responses-alternative-create-form-template{:type => 'text/html'}
  %form{ :action => '', :method => 'post', "accept-charset" => "UTF-8"} 
    .control-group
      %label{ :for => "alternative_response", :class => "control-label" } Alternative response
      .controls
        %textarea{ :placeholder => "Do you have another image in your mind? Type alternative to above responses", :name => "response[response]", :id => "alternative_response", :class => "input-xxlarge" }

    %input{ :type => "submit", :value => "Post alternative response", :name => "commit", :class => "btn-custom" }


%script#responses-alternative-template{:type => 'text/html'}
  #responses-alternative-wrap
    %h4 Alternative scenarios
    %img{ :src => '/assets/shadow-top.png', :alt => '', :class => "shadow-img" }
    
    .response.response-alternative-self
    
      {{= response.response }}
      .row-fluid.additional-info
        .span4
          .response-created-at {{= response.created_at }}
          .response-user-name <span>{{= response.user_name }}</span>

        .span4.offset4.response-votes-wrap
          = link_to '', '/scenes/{{= response.scene_id }}/responses/{{= response.id }}/upvote', :class => 'response-weight response-weight-upvote'
          %span.response-weight-value {{= response.votes }}
          = link_to '', '/scenes/{{= response.scene_id }}/responses/{{= response.id }}/downvote', :class => 'response-weight response-weight-downvote'


    %img{ :src => '/assets/shadow-bottom.png', :alt => '', :class => "shadow-img" }

    #responses-alternative

    .scenario-alternative-new-wrap
      %a{ :class => "response-alternative-new-button", :href => "#" } <span>New alternative response</span>


%script#responses-template{:type => 'text/html'}
  %div
    .scenario-nav-wrap
      %a{ :class => "scenario-prev", :href => "/scenes/{{= scene_id }}/responses/{{= response_id }}/prev"} <i></i>Previous scenario
      %a{ :class => "scenario-next", :href => "/scenes/{{= scene_id }}/responses/{{= response_id }}/next"} Next scenario<i></i>
    
    #scenario-current-responses

    .scenario-nav-wrap
      %a{ :class => "scenario-prev", :href => "/scenes/{{= scene_id }}/responses/{{= response_id }}/prev"} <i></i>Previous scenario
      %a{ :class => "scenario-next", :href => "/scenes/{{= scene_id }}/responses/{{= response_id }}/next"} Next scenario<i></i>

