%h1 Edit Existing Response

= form_for [:scene, @response], :class => 'form-horizontal' do |f|

  .control-group
    = f.label :response
    .controls
      = f.text_area :response
      = @response.errors[:response].join(', ')

  .form-actions
    = f.submit 'Update response', :class => 'btn btn-primary'
