%h1 New Response

= form_for [@scene, @response], :url => { :action => "create" } do |f|
  = f.hidden_field :parent_id, :value => params[:parent_id] || 0
  .control-group
    = f.label :response
    .controls
      = f.text_area :response, :size => "60x4", :class => 'input-xxlarge'
      = @response.errors[:response].join(', ')

  .form-actions
    = f.submit 'Post response to scene', :class => 'btn-custom'
