%h4
  = h @response.scene.title
  &mdash; alternative responses
.row-fluid
  .span6
    <img src='/assets/shadow-top.png' alt='' class="shadow-img" />
    .response.response-alternative-self
      #description= post_format(@response.response)
      .additional-info.row-fluid
        .span4
          .response-created-at= datetime_format(@response.created_at)
          .response-user-name= @response.user_name
    <img src='/assets/shadow-bottom.png' alt='' class="shadow-img" />
    #responses-alternative
      - @response.alternative.each do |response|
        .response.response-alternative
          .border-top
          = post_format(response.response)
          .additional-info.row-fluid
            .span6.clearfix
              .response-created-at= datetime_format(response.created_at)
              .response-user-name= response.user_name
              =link_to content_tag(:span, 'Open scenario'), scene_response_path(@response.scene, response), :class => 'response-alternative-switch'

          .border-bottom
